/* /src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  This ensures that padding and borders are included
  in the element's total width and height, which
  prevents many common overflow issues.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

